
* {
  margin-left: 0;
  margin-right: 0;
  color: #292f36;
}

@media screen and (max-width: 500px) {
  .about-child, .about-child-skills, .about-child-facts {
    width: 100% !important; 
    text-decoration: underline;
  }
}

.about-child-skills {
  width: 55%
}
.about-child-facts {
  width: 33%
}

.App {
  background-image: url("bkgrnd.png");
}

#page {
  position: relative;
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

#main {
  padding-bottom: 2.5rem;
  width: 80vw;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vh;
  margin-bottom: 0;
}
